@font-face {
  font-family: Font;
  src: url('../public/NOVABOLD.otf');
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.formContainer {
  width: 30vw;
}

.foodBoxContainer {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-wrap: wrap;
  width: 60vw;
  row-gap: 20px;
  column-gap: 40px;
  margin: 50px 0
}

.indFood {
  padding: 10px;
  border: black solid 1px;
  font-family: font;
}

.indFood:hover {
  background-color: rgb(237, 236, 236);
}

.searchBar {
  margin: 50px 0
}